.pragnoz{
    margin-top: 140px;
    background-color: #273895;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    justify-content: space-between;
    @media(max-width:1300px){
        flex-direction: column;
        justify-content: center;
        row-gap: 32px;
    }
    @media(max-width:540px){
        padding: 50px 30px;
    }
    .pragnoz-title{
        width: 405px;
        @media(max-width:1300px){
            margin: auto;
        }
        @media(max-width:540px){
            width: auto;
        }
        h1{
            font-size: 32px;
            line-height: 44px;
            @media(max-width:540px){
                font-size: 24px;
                line-height: 1.5;
                text-align: center;
            }
        }
    }
    .pragnoz-calc{
        display: flex;
        gap: 16px;
        @media(max-width:1300px){
            justify-content: center;
        }
        @media(max-width:740px){
            flex-wrap: wrap;
        }
        .calc-part{
            width: 200px;
            text-align: center;
            &:nth-of-type(1){
                width: 160px;
            }
            &:nth-of-type(3){
                width: 160px;
            }
            &:nth-of-type(4){
                width: 160px;
            }
            h2{
                font-size: 32px;
                line-height: 1.5;
                background: linear-gradient(93.03deg, #4614E8 11.01%, #BCA7FF 78.81%), #FFFFFF;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                margin-top: 16px;
            }
        }
    }
}