@import "./variables.scss";

.showcase-main{
    display: flex;
    align-items: flex-end;
    padding-top: 30px;
    @media(max-width:1300px){
        background-image: url('../images/Creative_process_SVG\ 1showcaseimg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    @media(max-width:1250px){
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .left-part{
        h1{
            width: 730px;
            font-size: 48px;
            line-height: 55px;
            color: #262626;
            @media(max-width:850px){
                width: auto;
            }
            @media(max-width:600px){
                font-size: 24px;
                line-height: 30px;
            }
        }
        p{
            font-size: 14px;
            line-height: 1.5;
            color: #303030;
            margin-top: 16px;
            width: 540px;
            @media(max-width:1250px){
                margin: auto;
                margin-top: 16px;
            }
            @media(max-width: 570px){
                width: auto;
            }
            @media(max-width:450px){
                font-size: 12px;
            }
        }
        button{
            margin-top: 32px;
        }
    }
    .right-part{
        width: 438px;
        height: 488px;
        background-image: url('../images/Creative_process_SVG\ 1showcaseimg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-left: 250px;
        @media(max-width:1300px){
            background-image: none;
        }
        @media(max-width:1250px){
            padding-left: 0;
        }
        @media(max-width:450px){
            width: auto;
        }
        img{
            width: 145px;
            margin-top: -70px;
            @media(max-width:1250px){
                margin-top: 0;
            }
        }
    }
}
.showcase-bottom{
    display: flex;
    justify-content: end;
}
.cards{
    width: 710px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 48px 32px;
    background-color: #fff;
    border-radius: 10px;
    // float: right;
    // margin-top: -100px;
    @media(max-width:800px){
        flex-direction: column;
        // width: auto;
        text-align: center;
        gap: 30px;
        margin-top: -300px;
    }
    .card{
        img{
            height: 40px;
        }
        h3{
            font-size: 16px;
            line-height: 22px;
            color: #303030;
        }
    }
}